* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*class that contains the row layout
لانه العناصر جايين حد بعض فهاد دايما بنستدعيه وقت هيك اشي*/
.row {
    display: flex;
    justify-content: space-between;
    /* دائما بتعمل للابناء تاع هاد الاشي*/
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: calc(100% - 330px);
    /*100% (- 165px (left margin) - 165px (right margin))*/
    margin: 0 auto;
}

.header {
    padding: 21.84px 0;
    /*up & down=21.84px  left & right=0*/
}

.list ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.collection_section {
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.collection {
    width: calc((100% - 90px) / 4);
}

img {
    width: 100%;
}

.collection h2 {
    margin-top: 23px;
}