* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #19213d;
    --primaryFont: 'Inter';
    --spacer: 4px;
}

/*class that contains the row layout
لانه العناصر جايين حد بعض فهاد دايما بنستدعيه وقت هيك اشي*/
.row {
    display: flex;
    justify-content: space-between;
    /* دائما بتعمل للابناء تاع هاد الاشي*/
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: calc(100% - 330px);
    /*100% (- 165px (left margin) - 165px (right margin))*/
    margin: 0 auto;
}

.header {
    padding: 21.84px 0;
    /*up & down=21.84px  left & right=0*/
}

.list ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.list a {
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 14px;
    font-family: var(--primaryFont);
}

.icons ul {
    display: flex;
    gap: calc(var(--spacer)*6);
    list-style: none;
}

.menu {
    display: none;
}

@media screen and (min-width:0) and (max-width: 996px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        display: flex;
    }

}

.collection_section {
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.collection {
    width: calc((100% - 90px) / 4);
}

img {
    width: 100%;
}

.collection h2 {
    margin: 10px 0;
    font-size: 24px;
}


@media screen and (min-width:0) and (max-width: 621px) {
    .container {
        width: calc(100% - 100px);
    }

    .collection_section .row {
        flex-direction: column;
        gap: 20px;
    }

    .collection {
        width: 100%;
    }
}

@media screen and (min-width:622px) and (max-width:756px) {
    .collection {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width:757px) and (max-width:900px) {
    .collection {
        width: calc((100% - 60px) / 3);
    }

    .collection h2 {
        font-size: 16px;
    }

}

/* text-transform: capitalize;*/
/* make the first letter of each word uppercase */
/* --------------------------------------------- */
/* text-transform: uppercase; */
/* make all letters uppercase */
/* --------------------------------------------- */
/* text-transform: lowercase; */
/* make all letters lowercase */
/* --------------------------------------------- */